.tab-list{
            list-style:none;
            overflow:hidden;
            padding:0;
        }

        .tab-list li{
            cursor:pointer;
            float:left;
            width:120px;
            height:30px;
            line-height:30px;
            text-align:center;
            background-color:pink;
        }

        .tab-list li.active{
            background-color:orangered;
        }
